* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo {
    width: 1000px;
}

nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}

nav a {
    color: blue;

}

nav a:hover {
    font-style: underline;
    color: purple
}


.middle-text {
    text-align: left;
    margin-top: 150px;
    font-size: 50px;

}

.middle-text h2 {
    font-size: 50px;
    color: #333;
    margin-bottom: 20px;
}

.middle-text p {
    font-size: 18px;
    color: #666;
}
