body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#video-bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 160;
    color: black;
}

.content a {
    text-decoration: none;
    color: black;
}

.content a:hover {
    text-decoration: underline;
    color: blue;
}

